{% extends 'admin/base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <h1 class="col-12 text-center my-5">Liste des utilisateurs</h1>

    <table class="table table-responsive text-center align-middle">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom Prénom [Association]</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>[{{ user.id }}]</td>
                {% for adresse in user.adresses %}
                    {% if adresse.isFacturation %}
                        <td>
                            {{ adresse.firstName }} {{ adresse.lastName }}
                            {% if adresse.organisation is not null %}
                                {{ '['~ adresse.organisation ~']' }}
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
                <td>{{ user.email }}</td>
                <td>
                    {% if app.user.id != user.id %}
                        {% if app.user.level > user.level %}
                            <a class="btn btn-sm btn-warning" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">Éditer</a>
                        {% else %}
                            <a class="btn btn-sm btn-primary" href="#">Level insuffisant</a>
                        {% endif %}
                    {% else %}
                        ###
                    {% endif %}
                    

                </td>
            </tr>
  
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if users | length > 0 %}

        <div class="row my-5">
            <div class="col-12 d-flex justify-content-center">
                {{ knp_pagination_render(users, 'admin/pagination.html.twig') }}
            </div>
        </div>

    {% endif %}

{% endblock %}
