{% extends 'admin/base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    {% set tva = devis.tauxTva + 100 / 100 %}
    {% set totalDetachees = totalDetachees %}
    {% set disabled = "disabled" %}

    <h3 class="col-12 text-center mb-5">Devis numéro {{ devis.numeroDevis }}</h3>

    <div class="col-12 text-end">
        {% include "admin/documents/devis/_delete_form.html.twig" %}
    </div>

    <form action="" method="POST">

        {# SI Y A DES JEUX D'OCCASION DANS LE PANIER #}
        {% if occasions | length > 0 %}
            {% include "admin/documents/includes/table_occasions.html.twig" %}
        {% endif %}

        {# SI Y A DES DEMANDES DE PIECES DETACHEES DANS LE PANIER #}
        {% if boites | length > 0 %}
            {% include "admin/documents/includes/table_pieces_detachees.html.twig" %}
        {% endif %}

        {# PARITE LIVRAISON #}
        <div class="row justify-content-center my-5">
            <h3>Livraison / retrait:</h3>
            <div class="card p-0">
                <div class="card-header">
                    <div class="card-text text-center">
                        {% set adresseLivraisons = devis.adresseLivraison | split('<br/>') %}
                        {% for adresse in adresseLivraisons %}
                            {{ adresse }}
                        {% endfor %}
                    </div>
                    <div class="my-3 card-text d-flex justify-content-around">
                        <div class="col-5">
                            <select name="envoi" required>
                                <option value="">Choisissez un mode d'envoi / retrait...</option>
                                <option value="1">Envoi par la poste</option>
                                <option value="2">Envoi par Colissimo</option>
                                <option value="3">Retrait à la COOP 5 pour 100 à Caen</option>
                            </select>
                        
                        </div>
                        <div class="col-5"><input value="{% if devis.totalLivraison is defined %}{{ (devis.totalLivraison / 100) |number_format(2, '.', ',') }}{% endif %}" class="form-control" type="text" name="livraison" placeholder="Prix TTC... 0.00" pattern="^\d+(?:[.]\d{2})$" id="selectLivraison" onkeyup="calculDevis()" required /></div>
                    </div>
                </div>
            </div>
        </div>


    <div class="row justify-content-center my-5">
            <h3>Totaux:</h3>

            <div class="col-12 d-flex">
                {# PARTIE TOTAUX #}
                <div class="col-6 d-flex flex-column">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total occasions:</span>
                        </div>
                        <div id="totalOccasions"></div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total détachées:</span>
                        </div>
                        <div id="totalPiecesDetachees"></div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total livraison:</span>
                        </div>
                        <div id="totalLivraison"></div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total général HT:</span>
                        </div>
                        <div id="totalGeneralHT"></div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total général TTC:</span>
                        </div>
                        <div id="totalGeneralTTC"></div>
                    </div>
                </div>

                {# PARTIE BOUTONS #}
                {# si le devis n'est pas echu on affiche les boutons #}
                {% if devis.endValidationDevis|date("m/d/Y") > "now"|date("m/d/Y") and devis.isDeleteByUser is null %}
                    <div class="col-6">
                        <button type="submit" class="btn btn-lg btn-outline-success" id="buttonCreer">Sauvegarder</button>
                        <input type="hidden" name="user" value="{{ devis.user.id }}">
                        <input type="hidden" name="demande" value="{{ devis.numeroDevis }}">
                        <a class="btn btn-success" href="{{ path('admin_prevenir_devis_disponible', {'token': devis.token }) }}">Envoyer par email</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>


<script>
    let tva = {{ tva }};
    let totalOccasions = {{ totalOccasions * tva }};
    let totalDetachees = {{ totalDetachees }};

    let divTotalOccasions = document.getElementById('totalOccasions');
    let divTotalPiecesDetachees = document.getElementById('totalPiecesDetachees');
    let divTotalLivraison = document.getElementById('totalLivraison');
    let divTotalGeneralTTC = document.getElementById('totalGeneralTTC');
    let divTotalGeneralHT = document.getElementById('totalGeneralHT');
    let selectLivraison = document.getElementById('selectLivraison');
    let totalLignesPiecesDetachees = 0;

    let hiddenValues = [];
    let divHiddenValues = document.getElementById('hiddenValues');

    if(totalOccasions > 0){
        divTotalOccasions.innerHTML = '<input type="text" class="form-control" name="totalOccasions" value="'+totalOccasions.toFixed(2)+'" class="text-right" size="5" readonly>';
        hiddenOccasion = '<input type="hidden" name="totalOccasionsTTC" id="hiddenInputOccasion" value="'+totalOccasions.toFixed(2)+'">';
    }else{
        divTotalOccasions.innerHTML = '<input type="text" class="form-control" name="totaOccasions" value="0.00" class="text-right" size="5" readonly>';
        hiddenOccasion = '<input type="hidden" name="totalOccasionsTTC" id="hiddenInputOccasion" value="0.00">';
    }

    function notNull(str){
        if(str === ""){
            str = "0";
        }
        return str;
    }


    function calculDevis(){

        //clear innerHTML
        hiddenValues = [];
        hiddenValues.push(hiddenOccasion);

        let elts = document.getElementsByName('prix[]');
        totalLignesPiecesDetachees = 0;

        elts.forEach(element => {
                totalLignesPiecesDetachees += +element.value;

                if(element.value > 0){
                    let hiddenLignePieceDetachee = '<input type="hidden" name="prixLigne[]" value="'+element.value+'">';
                    hiddenValues.push(hiddenLignePieceDetachee);
                }

                divTotalPiecesDetachees.innerHTML = '<input type="text" class="form-control" name="totalPiecesDetacheesTTC" value="'+totalLignesPiecesDetachees.toFixed(2)+'" class="text-right" size="5" readonly>';
                
                if(totalLignesPiecesDetachees > 0){
                    hiddenPieceDetachees = '<input type="hidden" name="totalPiecesDetacheesTTC" id="hiddenInputTotalPiecesDetachees" value="'+totalLignesPiecesDetachees.toFixed(2)+'">';
                    hiddenValues.push(hiddenPieceDetachees);
                }
        });


        if(selectLivraison.value === "" || selectLivraison.value == 0){
            totalLivraison = 0;
            divTotalLivraison.innerHTML = '<input type="text" class="form-control" name="totalLivraisonTTC" value="0.00" class="text-right" size="5" readonly>';
        }else{
            totalLivraison = Number(selectLivraison.value);
            hiddenLivraison = '<input type="hidden" name="totalLivraison" id="hiddenInputTotalLivraison" value="'+totalLivraison.toFixed(2)+'">';
            hiddenValues.push(hiddenLivraison);
            divTotalLivraison.innerHTML = '<input type="text" class="form-control" name="totalLivraisonTTC" value="'+totalLivraison.toFixed(2)+'" class="text-right" size="5" readonly>';
        }


        totalGeneralTTC = notNull(totalOccasions) + notNull(totalLignesPiecesDetachees) + notNull(totalLivraison);
        totalGeneralHT = totalGeneralTTC / tva;

        divTotalGeneralHT.innerHTML = '<input type="text" class="form-control" name="totalGeneralHT" value="'+totalGeneralHT.toFixed(2)+'" class="text-right" size="5" readonly>';
        hiddenTotalHT = '<input type="hidden" name="totalGeneralHT" value="'+totalGeneralHT.toFixed(2)+'">';
        hiddenValues.push(hiddenTotalHT);

        hiddenTotalTTC = '<input type="hidden" name="totalGeneralTTC" value="'+totalGeneralTTC.toFixed(2)+'">';
        hiddenValues.push(hiddenTotalTTC);

        divTotalGeneralTTC.innerHTML = '<input type="text" class="form-control" name="totalGeneralTTC" value="'+totalGeneralTTC.toFixed(2)+'" class="text-right" size="5" readonly>';

        divHiddenValues.innerHTML = hiddenValues.join("");
    }

    let totalLivraison = 0;
    let totalGeneralTTC = notNull(totalOccasions) + notNull(totalLignesPiecesDetachees) + notNull(totalLivraison);
    let totalGeneralHT = totalGeneralTTC / tva;

    divTotalPiecesDetachees.innerHTML = '<input type="text" class="form-control" name="totalPiecesDetachees" value="'+totalDetachees.toFixed(2)+'" class="text-right" size="5" readonly>';
    divTotalLivraison.innerHTML = '<input type="text" class="form-control" name="totalLivraison" value="0.00" class="text-right" size="5" readonly>';
    divTotalGeneralHT.innerHTML = '<input type="text" class="form-control" name="totalGeneralHT" value="'+totalGeneralHT.toFixed(2)+'" class="text-right" size="5" readonly>';
    divTotalGeneralTTC.innerHTML = '<input type="text" class="form-control" name="totalGeneralTTC" value="'+totalGeneralTTC.toFixed(2)+'" class="text-right" size="5" readonly>';
</script>

{% endblock %}