<footer class="col-12 border-top border-primary pt-4 bg-dark">
    <ul class="mt-2 col-12 mx-auto d-flex flex-column flex-md-row justify-content-around align-items-center list-unstyled">
        <li><a class="text-white text-decoration-none" href="{{ path('nous-soutenir') }}">Nous soutenir</a></li>
        <li><a class="text-white text-decoration-none" href="{{ path('informations-legales') }}">Informations légales</a></li>
        <li><a class="text-white text-decoration-none" href="{{ path('informations-comment-ca-marche') }}">Le service</a></li>
        {# <li><a class="text-white text-decoration-none" href="{{ path('mentions-legales') }}">Mentions légales et CGU</a></li>
        <li><a class="text-white text-decoration-none" href="{{ path('cgv') }}">CGV</a></li> #}
        <li><a class="text-white text-decoration-none" href="{{ path('contact') }}">Contact</a></li>
        <li><a class="text-white text-decoration-none" href="{{ path('carte_partenaires', {'pays': infosAndConfig.legales.country.name }) }}">Partenaires</a></li>
        <li>
            <div class="fb-page" data-href="https://www.facebook.com/refaitesvosjeux/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/refaitesvosjeux/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/refaitesvosjeux/">Refaites vos jeux</a></blockquote></div>
        </li>
    </ul>
    <div class="col-12 text-center">
        <a class="text-warning text-decoration-none" href="https://www.je-developpe.fr/" target="_blank">Sité créé par: Je-Développe</a><br/>
        <small>Version 3.00</small>
    </div>
</footer>