<footer class="col-12 border-top border-primary pt-4 bg-dark">
    <ul class="mt-2 col-12 mx-auto d-flex flex-column flex-md-row justify-content-around align-items-center list-unstyled">
        <li><a class="text-white text-decoration-none" href="{{ path('nous-soutenir') }}">Nous soutenir</a></li>
        <li><a class="text-white text-decoration-none" href="{{ path('mentions-legales') }}">Mentions légales et CGU</a></li>
        <li><a class="text-white text-decoration-none" href="{{ path('cgv') }}">CGV</a></li>
        <li><a class="text-white text-decoration-none" href="{{ path('contact') }}">Contact</a></li>
        <li><a class="text-white text-decoration-none" href="{{ path('carte_partenaires', {'pays': informationsLegales[0].country.name }) }}">Partenaires</a></li>
        <li>
            <a class="col-6" href="https://www.facebook.com/refaitesvosjeux">
                <img src="{{ asset('build/images/design/FindUsOnFacebook.png') }}" class="imgFindUsOnFacebook" alt="Suivez-nous sur Facebook !">
            </a>
        </li>
    </ul>
    <div class="col-12 text-center">
        <a class="text-warning text-decoration-none" href="https://www.je-developpe.fr/" target="_blank">Sité créé par: Je-Développe</a><br/>
        <small>Version 3.00</small>
    </div>
</footer>