{% extends 'member/base.html.twig' %}

{% block member %}

<div class="row justify-content-center my-5">
   
   {% if documents | length > 0 %}
      <div class="col-11">
         <p class="col-12 text-center text-white"><i class="fas fa-info-circle"></i> Les devis de plus de {{ configurations.DevisDelayBeforeDelete }} jours sont automatiquement supprimés.</p>
         <table class="table text-center align-middle">
            <thead>
               <th>Numéro de devis</th>
               <th>Date du devis</th>
               <th>Numéro de facture</th>
               <th></th>
               <th></th>
            </thead>
            <tbody>
               {% for document in documents %}
                  <tr>
                        <td>{{ document.numeroDevis }}</td>
                        <td>{{ document.createdAt|date('d-m-Y') }}</td>
                        <td>{{ document.numeroFacture ? document.numeroFacture : "PAS DE PAIEMENT" }}</td>
                        <td>
                           {% if document.paiement is not null %}
                              Payé le {{ document.paiement.timeTransaction|date('d-m-Y') }} <br/>par {{ document.paiement.moyenPaiement }} 
                           {% else %}
                              <a class="btn btn-outline-warning" href="{{ path('lecture_devis_avant_paiement', {'token': document.token }) }}" target="_blank">Visualiser le devis</a>
                           {% endif %}
                        </td>
                        <td>
                           {% if document.paiement is not null %}
                              <a href="{{ path('app_member_facture_download', {'token': document.token }) }}"><i class="fas fa-print fa-2x text-light"></i></a>
                           {% endif %}
                        </td>
                        
                  </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
   {% endif %}
</div>
{% endblock %}
