{{ form_start(form) }}

    {% if image is defined %}
        <div class="row">
            <div class="col-6">
                {{ form_widget(form) }}
            </div>
            <div class="col-6 text-center">
                    <img class="img-admin" src="data:image/png;base64,{{ image }}"/>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-6">
                {{ form_widget(form) }}
            </div>
        </div>
    {% endif %}

    <div class="row justify-content-center my-3">
        <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
    </div>

{{ form_end(form) }}
