{% extends 'admin/base.html.twig' %}

{% block title %}Recherche de documents{% endblock %}

{% block body %}

    <h3 class="col-12 text-center mb-5">Recherche de document</h3>

        {{ form_start(form) }}

    <div class="col-9 mx-auto d-flex my-5 justify-content-around align-items-center">
          <div class="form-group col-3">
            {{ form_widget(form.document) }}
        </div>
        <div class="form-group col-3">
            {{ form_widget(form.numero) }}
        </div>
        <div class="col-3 mt-2">
            {{ form_widget(form.rechercher) }}
        </div>
    </div>
        {{ form_end(form) }}


    {% if datas is defined %} 
        {% if datas | length > 0 %}
            <table class="table table-striped text-center align-middle my-5">
                <thead>
                    {% if form.vars.value.document == "numeroDevis" %}
                        <th>Devis</th>
                        <th>Fin de validitée</th>
                        <th>Sup. par<br/>l'utilisateur</th>
                    {% else %}
                        <th>Facture</th>
                    {% endif %}
                    <th>Facturation</th>
                    <th>Livraison</th>
                    <th>Total TTC</th>
                    <th></th>
                </thead>
                <tbody>
                    {% for data in datas %}
                        <tr>
                            {% if form.vars.value.document == "numeroDevis" %}
                                <td>{{ data.numeroDevis }}<br/><span class="small">({{ data.createdAt | date('d-m-Y') }})</span></td>
                                <td>({{ data.endValidationDevis | date('d-m-Y') }})</td>
                                <td>
                                    {% if data.isDeleteByUser == true %}
                                        <span class="badge bg-danger"> OUI</span>
                                    {% else %}
                                        <span class="badge bg-success"> NON</span>
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>{{ data.numeroFacture ? data.numeroFacture : 'NON' }}</td>
                            {% endif %}
                            <td>{{ data.adresseFacturation | raw }}</td>
                            <td>{{ data.adresseLivraison | raw }}</td>
                            <td>{{ (data.totalTtc / 100) |number_format(2, '.', ',') }}</td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('admin_visualisation_document', {'token': data.token }) }}">Voir</a>
                                {# <a class="btn btn-secondary" href="{{ path('admin_prevenir_devis_disponible', {'token': data.token }) }}" target="_blank">Imprimer</a> #}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            Aucun résultat...
        {% endif %}
        
    {% else %}
        Aucune recherche...
    {% endif %}


{% endblock %}