{% extends 'admin/base.html.twig' %}

{% block title %}Configuration du site{% endblock %}

{% block body %}
    <h1 class="col-12 text-center my-5">Configuration du site</h1>

        {% for configuration in configurations %}
            <table class="table">
                <tbody>
                    <tr>
                        <td>Version du site:</td>
                        <td>{{ configuration.versionSite }}</td>
                    </tr>
                    <tr>
                        <td>Delai avant suppression du devis:</td>
                        <td>{{ configuration.DevisDelayBeforeDelete }} jours</td>
                    </tr>
                    <tr>
                        <td>Préfixe des factures:</td>
                        <td>{{ configuration.prefixeFacture }}</td>
                    </tr>
                    <tr>
                        <td>Préfixe des devis:</td>
                        <td>{{ configuration.prefixeDevis }}</td>
                    </tr>
                    <tr>
                        <td>Prix de l'adhésion:</td>
                        <td>{{ (configuration.cost) | number_format(2, ',', '.') }} € TTC</td>
                    </tr>
                    <tr>
                        <td>Prix du grand plateau / support en bois:</td>
                        <td>{{ (configuration.grandPlateauBois) | number_format(2, ',', '.') }} € TTC</td>
                    </tr>
                    <tr>
                        <td>Prix du grand plateau / support en plastique:</td>
                        <td>{{ (configuration.grandPlateauPlastique) | number_format(2, ',', '.') }} € TTC</td>
                    </tr>
                    <tr>
                        <td>Prix du petit plateau / support en bois:</td>
                        <td>{{ (configuration.petitPlateauBois) | number_format(2, ',', '.') }} € TTC</td>
                    </tr>
                                        <tr>
                        <td>Prix du petit plateau / support en plastique:</td>
                        <td>{{ (configuration.petitPlateauPlastique) | number_format(2, ',', '.') }} € TTC</td>
                    </tr>
                    <tr>
                        <td>Prix de la pièce unique:</td>
                        <td>{{ configuration.pieceUnique }} € TTC</td>
                    </tr>
                    <tr>
                        <td>Prix de la pièce en grande quantité:</td>
                        <td>{{ configuration.pieceMultiple }} € TTC</td>
                    </tr>
                    <tr>
                        <td>Prix de la pièce métal / bois:</td>
                        <td>{{ configuration.pieceMetalBois }} € TTC</td>
                    </tr>
                    <tr>
                        <td>Prix des autres pièces:</td>
                        <td>{{ configuration.autrePiece }} € TTC</td>
                    </tr>
                    <tr>
                        <td>Prix de l'enveloppe simple:</td>
                        <td>{{ (configuration.enveloppeSimple) | number_format(2, ',', '.') }} € TTC</td>
                    </tr>
                    <tr>
                        <td>Prix de l'enveloppe à bulles:</td>
                        <td>{{ (configuration.enveloppeBulle) | number_format(2, ',', '.') }} € TTC</td>
                    </tr>
                    <tr>
                        <td>Texte vacances:</td>
                        <td>
                            {% if configuration.holiday is not null %}
                                {{ configuration.holiday }}
                            {% else %}
                                AUCUN TEXTE POUR LE MOMENT...
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a class="btn btn-warning" href="{{ path('app_configuration_edit', {'id': configuration.id}) }}">Éditer</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <table class="table">
                <tbody>
                    <tr>
                        <td colspan="2">Aucunes informations pour le moment...</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
   

    {% if configurations | length < 1 %}
        <a class="btn btn-info" href="{{ path('app_configuration_new') }}">Renseigner la configuration</a>
    {% endif %}
{% endblock %}