{% extends 'member/download/base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}
    {% set tva = devis.tauxTva + 100 / 100 %}
    {% set totalDetachee = totalDetachee %}

        {# header #}
        <div class="row my-5">
            <div class="col-6">
            LOGO REFAITES VOS JEUX
            </div>
            <div class="col-6 d-flex flex-column">
                <div class="col-12 mb-5 text-end">
                    FACTURE {{ devis.numeroFacture }}<br/>
                    du {{ devis.paiement.timeTransaction|date('d-m-Y') }}
                </div>
                <div class="col-12 mt-5 ps-5">
                    {{ devis.adresseFacturation | raw }}
                </div>

            </div>
        </div>

        {# SI Y A DES JEUX D'OCCASION DANS LE PANIER #}
        {% if occasions | length > 0 %}
            {% include "member/download/table_occasions.html.twig" %}
        {% endif %}

        {# SI Y A DES DEMANDES DE PIECES DETACHEES DANS LE PANIER #}
        {% if boites | length > 0 %}
            {% include "member/download/table_pieces_detachees.html.twig" %}
        {% endif %}



    <div class="row justify-content-center my-5">
        <div class="col-6">
            <table class="table table-striped">
                <tr>
                    <td class="text-end">Livraison:</td>
                    <td class="text-center">{{ (devis.totalLivraison / 100) |number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <td class="text-end">Total HT:</td>
                    <td class="text-center">{{ (devis.totalHt / 100) |number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <td class="text-end">TVA ( {{ tva }}% ):</td>
                    <td class="text-center">{{ ((devis.totalTTC - devis.totalHt) / 100) |number_format(2, '.', ',') }}</td>
                </tr>
                <tr>
                    <td class="text-end">Total TTC:</td>
                    <td class="text-center">{{ (devis.totalTtc / 100) |number_format(2, '.', ',')}}</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}