{% extends 'admin/base.html.twig' %}

{% block title %}Villes de France{% endblock %}

{% block body %}
    <h1 class="col-12 text-center my-5">Liste des villes</h1>


    <div class="row mb-4 d-flex justify-content-between align-items-center">
        <div class="col-6 mt-5">
            <a class="btn btn-info" href="{{ path('app_ville_new') }}">Créer une nouvelle ville +</a>
        </div>
        <div class="col-5 mt-5">
            {{ form_start(form) }}
                {{ form_row(form.search)}}
            {{ form_end(form)}}
        </div>
        <div class="col-1">
            <a class="btn btn-warning" href="{{ path('app_ville_index') }}">Reset</a>
        </div>
    </div>


    <table class="table table-responsive text-center align-middle">
        <thead>
            <tr>
                <th>Pays</th>
                <th>VilleNom</th>
                <th>VilleCodePostal</th>
                <th>VilleDepartement</th>
                <th>Lng</th>
                <th>Lat</th>
                <th>actions</th>
                <th>Maps</th>
            </tr>
        </thead>
        <tbody>
        {% for ville_france in villes %}
            <tr>
                <td>{{ ville_france.pays }}</td>
                <td>{{ ville_france.villeNom }}</td>
                <td>{{ ville_france.villeCodePostal }}</td>
                <td>{{ ville_france.villeDepartement }}</td>
                <td>{{ ville_france.lng }}</td>
                <td>{{ ville_france.lat }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('app_ville_edit', {'id': ville_france.id}) }}">Éditer</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-info" href="https://www.google.fr/maps/place/{{ville_france.villeCodePostal}}+{{ville_france.villeNom}}" target="_blank">Google Maps</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if villes | length > 0 %}
        <div class="row my-5">
            <div class="col-12 d-flex justify-content-center">
                {{ knp_pagination_render(villes, 'admin/pagination.html.twig') }}
            </div>
        </div>
    {% endif %}

{% endblock %}
