{% extends 'site/base.html.twig' %}

{% block title %}Catalogue des pièces détachées{% endblock %}

{% block body %}


    <h1 class="col-12 text-center my-5">Catalogue des pièces détachées</h1>

    <div class="col-12 d-flex justify-content-center mb-2">
        {% set url = path('catalogue_pieces_detachees') %}
        {% include "site/components/catalogues/share_buttons.html.twig" %}
    </div>

    <div class="row mb-2">
        {{ form_start(boiteSearch) }}
            <div class="col-9 col-sm-6 col-md-4">{{ form_row(boiteSearch.searchBoite) }}</div>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                    <button class="btn btn-success" type="submit" class="btn btn-primary">Recherche</button>
                    <a class="btn btn-warning" href="{{ path('catalogue_pieces_detachees') }}">Remise à zéro</a>
                </div>
            </div>
        {{ form_end(boiteSearch) }}
    </div>

    {% if boites | length > 0 %}

        <div class="row">
                {{ form_start(catalogueFiltersForm) }}
                    <div class="d-flex justify-content-end">{{ form_row(catalogueFiltersForm.filters) }}</div>
                {{ form_end(catalogueFiltersForm) }}
        </div>
        <div class="row justify-content-start">

            {# S'il y a une recherche #}
            {% if boiteSearch.vars.value is not null %}
                <div class="col-11 mx-auto small">
                    => Il y a {{ boites | length }} résultat{% if boites | length > 1 %}s{% endif %} à votre recherche.
                </div>
            {% endif %}

            {% include "site/components/catalogues/card-pieces-detachees-direct.html.twig" %}

        </div>
        
        {% if boites | length > 0 %}

            <div class="row my-5">
                <div class="col-12 d-flex justify-content-center">
                    {{ knp_pagination_render(boites, 'site/components/catalogues/pagination.html.twig') }}
                </div>
            </div>

        {% endif %}

    {% else %}

        <div class="row">
            <div class="col-12 text-center">
                <p class="h2">Nous n'avons pas ce jeu en stock pour le moment.</p>
                <p class="h5">Vous pouvez suivre nos arrivages sur la page <a href="https://www.refaitesvosjeux.fr" target="_blank">Facebook !</a></p>    
                <p class="h5 mt-5">Ou tenter votre chance chez l'un de nos partenaires:</p>
            </div>
        </div>
        <div class="row justify-content-start mb-5">

            {% for partenaire in partenaires %}

            {% include "site/components/catalogues/card-partenaire.html.twig" %}
                
            {% endfor %}
        </div>
    {% endif %}



<script>
    let filters = document.getElementById("catalogue_filters_filters");

    filters.addEventListener('change', function(){
        let filter = this.selectedIndex;
        let link ="/catalogue-pieces-detachees/?tri="+this.options[filter].value;
        window.location.href = link;
    })
</script>

{% endblock %}
