{% extends 'admin/base.html.twig' %}

{% block title %}Accueil, les demandes{% endblock %}

{% block body %}
    {% set tva = tva %}

    {% if paniers[0].user.membership < date('now') %}
        {% set totalCostHT = configurationSite[0].cost / 100 %}
    {% else %}
        {% set totalCostHT = 0 %}
    {% endif %}

    <h3 class="col-12 text-center mb-5">Création d'un nouveau devis</h3>

    <form action="{{ path('document_creation_devis', {'demande': paniers[0].etat,'user': paniers[0].user.id }) }}" method="POST">

        {# INFORMATION CLIENT #}
        <div class="row justify-content-center my-5">
            <h3>Utilisateur:</h3>
            <div class="card p-0 col-11">
                <div class="card-header text-center">
                    {{ paniers[0].user.email }} - {{ paniers[0].user.phone }} - Pays: {{ paniers[0].user.country.name }} - Département: {{ paniers[0].user.department }}
                </div>
            </div>
        </div>

        {# SI Y A DES JEUX D'OCCASION DANS LE PANIER #}
        {% if occasions | length > 0 %}
            {% include "admin/documents/includes/table_occasions.html.twig" %}
        {% endif %}

        {# SI Y A DES DEMANDES DE PIECES DETACHEES DANS LE PANIER #}
        {% if boites | length > 0 %}
            {% include "admin/documents/includes/table_pieces_detachees.html.twig" %}
        {% endif %}

        {# PARITE LIVRAISON #}
        <div class="row justify-content-center my-5">
            <h3>Livraison / retrait:</h3>
            <div class="card p-0">
                <div class="card-header">
                    <div class="col-12 text-center">
                        {% set adresseLivraisons = paniers[0].livraison | split('<br/>') %}
                        {% for adresse in adresseLivraisons %}
                            {{ adresse }}
                        {% endfor %}
                    </div>
                    <div class="my-3 col-12 d-flex justify-content-around align-items-center">
                        <div class="col-6 text-center">
                            <select name="envoi" required>
                                <option value="">Choisissez un mode d'envoi / retrait...</option>
                                <option value="1">Envoi par la poste</option>
                                <option value="2">Envoi par Colissimo</option>
                                <option value="3">Retrait à la COOP 5 pour 100 à Caen</option>
                            </select>
                        
                        </div>
                        <div class="col-6 text-center"><input class="form-control" type="text" name="livraison" placeholder="Prix TTC... 0.00" pattern="^\d+(?:[.]\d{2})$" id="selectLivraison" onkeyup="calculDevis()" required /></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row justify-content-center my-5">
            <h3>Totaux et boutons:</h3>

            <div class="col-12 d-flex">
                {# PARTIE TOTAUX #}
                <div class="col-6 d-flex flex-column">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total occasions:</span>
                        </div>
                        <div id="totalOccasions"></div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total détachées:</span>
                        </div>
                        <div id="totalPiecesDetachees"></div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total adhésion:</span>
                        </div>
                        <div id="totalCostHt"></div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total livraison TTC:</span>
                        </div>
                        <div id="totalLivraison"></div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total général HT:</span>
                        </div>
                        <div id="totalGeneralHT"></div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Total général TTC:</span>
                        </div>
                        <div id="totalGeneralTTC"></div>
                    </div>
                </div>

                {# PARTIE BOUTONS #}
                <div class="col-6">
                    <button type="submit" class="btn btn-lg btn-outline-success" id="buttonCreer">Créer le devis</button>
                    <input type="hidden" name="user" value="{{ paniers[0].user.id }}">
                    <input type="hidden" name="demande" value="{{ paniers[0].etat }}">
                    <a class="btn btn-lg btn-outline-warning" href="">Envoyer mail pas de pièces</a>
                </div>
            </div>
        </div>
    </form>

<script>
    let tva = {{ tva }};
    let totalOccasions = {{ totalOccasions / 100 * tva }};
    let totalCostHT = {{ totalCostHT }};

    let divTotalOccasions = document.getElementById('totalOccasions');
    let divTotalPiecesDetachees = document.getElementById('totalPiecesDetachees');
    let divTotalLivraison = document.getElementById('totalLivraison');
    let divTotalGeneralTTC = document.getElementById('totalGeneralTTC');
    let divTotalGeneralHT = document.getElementById('totalGeneralHT');
    let selectLivraison = document.getElementById('selectLivraison');
    let divTotalCostHT = document.getElementById('totalCostHt');
    let totalLignesPiecesDetachees = 0;

    let hiddenValues = [];
    let divHiddenValues = document.getElementById('hiddenValues');

    if(totalOccasions > 0){
        divTotalOccasions.innerHTML = '<input type="text" class="form-control" name="totalOccasions" value="'+totalOccasions.toFixed(2)+'" class="text-right" size="5" readonly>';
        hiddenOccasion = '<input type="hidden" name="totalOccasionsTTC" id="hiddenInputOccasion" value="'+totalOccasions.toFixed(2)+'">';
    }else{
        divTotalOccasions.innerHTML = '<input type="text" class="form-control" name="totaOccasions" value="0.00" class="text-right" size="5" readonly>';
        hiddenOccasion = '<input type="hidden" name="totalOccasionsTTC" id="hiddenInputOccasion" value="0.00">';
    }

    function notNull(str){
        if(str === ""){
            str = "0";
        }
        return str;
    }


    function calculDevis(){

        //clear innerHTML
        hiddenValues = [];
        hiddenValues.push(hiddenOccasion);

        let elts = document.getElementsByName('prix[]');
        totalLignesPiecesDetachees = 0;

        elts.forEach(element => {
                totalLignesPiecesDetachees += +element.value;

                if(element.value > 0){
                    let hiddenLignePieceDetachee = '<input type="hidden" name="prixLigne[]" value="'+element.value+'">';
                    hiddenValues.push(hiddenLignePieceDetachee);
                }

                divTotalPiecesDetachees.innerHTML = '<input type="text" class="form-control" name="totalPiecesDetacheesTTC" value="'+totalLignesPiecesDetachees.toFixed(2)+'" class="text-right" size="5" readonly>';
                
                if(totalLignesPiecesDetachees > 0){
                    hiddenPieceDetachees = '<input type="hidden" name="totalPiecesDetacheesTTC" id="hiddenInputTotalPiecesDetachees" value="'+totalLignesPiecesDetachees.toFixed(2)+'">';
                    hiddenValues.push(hiddenPieceDetachees);
                }
        });


        if(selectLivraison.value === "" || selectLivraison.value == 0){
            totalLivraison = 0;
            divTotalLivraison.innerHTML = '<input type="text" class="form-control" name="totalLivraisonTTC" value="0.00" class="text-right" size="5" readonly>';
        }else{
            totalLivraison = Number(selectLivraison.value);
            hiddenLivraison = '<input type="hidden" name="totalLivraison" id="hiddenInputTotalLivraison" value="'+totalLivraison.toFixed(2)+'">';
            hiddenValues.push(hiddenLivraison);
            divTotalLivraison.innerHTML = '<input type="text" class="form-control" name="totalLivraisonTTC" value="'+totalLivraison.toFixed(2)+'" class="text-right" size="5" readonly>';
        }


        totalGeneralTTC = notNull(totalOccasions) + notNull(totalLignesPiecesDetachees) + notNull(totalLivraison) + totalCostHT*tva;
        totalGeneralHT = totalGeneralTTC / tva;

        divTotalGeneralHT.innerHTML = '<input type="text" class="form-control" name="totalGeneralHT" value="'+totalGeneralHT.toFixed(2)+'" class="text-right" size="5" readonly>';
        hiddenTotalHT = '<input type="hidden" name="totalGeneralHT" value="'+totalGeneralHT.toFixed(2)+'">';
        hiddenValues.push(hiddenTotalHT);

        hiddenTotalTTC = '<input type="hidden" name="totalGeneralTTC" value="'+totalGeneralTTC.toFixed(2)+'">';
        hiddenValues.push(hiddenTotalTTC);

        divTotalGeneralTTC.innerHTML = '<input type="text" class="form-control" name="totalGeneralTTC" value="'+totalGeneralTTC.toFixed(2)+'" class="text-right" size="5" readonly>';

        divHiddenValues.innerHTML = hiddenValues.join("");
    }

    let totalLivraison = 0;
    let totalGeneralTTC = notNull(totalOccasions) + notNull(totalLignesPiecesDetachees) + notNull(totalLivraison) + totalCostHT*tva;
    let totalGeneralHT = totalGeneralTTC / tva;

    divTotalPiecesDetachees.innerHTML = '<input type="text" class="form-control" name="totalPiecesDetachees" value="0.00" class="text-right" size="5" readonly>';
    divTotalLivraison.innerHTML = '<input type="text" class="form-control" name="totalLivraison" value="0.00" class="text-right" size="5" readonly>';
    divTotalGeneralHT.innerHTML = '<input type="text" class="form-control" name="totalGeneralHT" value="'+totalGeneralHT.toFixed(2)+'" class="text-right" size="5" readonly>';
    divTotalGeneralTTC.innerHTML = '<input type="text" class="form-control" name="totalGeneralTTC" value="'+totalGeneralTTC.toFixed(2)+'" class="text-right" size="5" readonly>';
    divTotalCostHT.innerHTML = '<input type="text" class="form-control" name="totalCostHT" value="'+totalCostHT.toFixed(2)+'" class="text-right" size="5" readonly>';
</script>

{% endblock %}