{% extends 'member/base.html.twig' %}

{% block member %}

    <div class="row my-5" id="facturation">
        <div class="col-11 mx-auto">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th>Les adresses de facturation</th>
                        <th>Modifier</th>
                    </tr>
                </thead>
                <tbody>
                {% for adresse in facturation_adresses %}
                    <tr>
                        <td>{{ adresse.organisation }} {{ adresse.lastName }} {{ adresse.firstName }}, {{ adresse.adresse }} - {{ adresse.ville.villeCodePostal }} {{ adresse.ville.villeNom }}</td>
                        <td>
                            <a class="btn btn-warning" href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">Éditer</a>
                            {{ include('member/adresse/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucune pour le moment...</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if facturation_adresses | length < 2 %}
            <a class="btn btn-primary" href="{{ path('app_adresse_new', {'slug': 'facturation'}) }}">Créer une nouvelle adresse (maximum 2)</a>
        {% else %}
            <p class="p-2 text-center h5">Vous avez le nombre d'adresse maximum autorisées. (modifiez en une...)</p>
        {% endif %}
    </div>

    <div class="row my-5" id="livraison">
        <div class="col-11 mx-auto">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th>Les adresses de livraison</th>
                        <th>Modifier</th>
                    </tr>
                </thead>
                <tbody>
                {% for adresse in livraison_adresses %}
                    <tr>
                        <td>{{ adresse.organisation }} {{ adresse.lastName }} {{ adresse.firstName }}, {{ adresse.adresse }} {{ adresse.ville.villeCodePostal }} {{ adresse.ville.villeNom }}</td>
                        <td>
                            <a class="btn btn-warning" href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">Éditer</a>
                            {{ include('member/adresse/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucune pour le moment...</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if livraison_adresses | length < 2 %}
            <a class="btn btn-primary" href="{{ path('app_adresse_new', {'slug': 'livraison'}) }}">Créer une nouvelle adresse (maximum 2)</a>
        {% else %}
            <p class="p-2 text-center h5">Vous avez le nombre d'adresse maximum autorisées. (modifiez en une...)</p>
        {% endif %}
    </div>

{% endblock %}
