{% extends 'member/base.html.twig' %}

{% block member %}

    <div class="row my-5">
        <h3>Les adresses de facturation:</h3>
        <div class="col-11 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>LastName</th>
                        <th>FirstName</th>
                        <th>Adresse</th>
                        <th>Modifier</th>
                    </tr>
                </thead>
                <tbody>
                {% for adresse in facturation_adresses %}
                    <tr>
                        <td>{{ adresse.lastName }}</td>
                        <td>{{ adresse.firstName }}</td>
                        <td>{{ adresse.adresse }} - {{ adresse.ville.villeCodePostal }} {{ adresse.ville.villeNom }}</td>
                        <td>
                            <a class="btn btn-warning" href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">Éditer</a>
                            {{ include('member/adresse/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucune pour le moment...</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if facturation_adresses | length < 2 %}
            <a class="btn btn-primary" href="{{ path('app_adresse_new', {'slug': 'facturation'}) }}">Créer une nouvelle adresse (maximum 2)</a>
        {% else %}
            <p>Supprimer une adresse pour pouvoir en créer une nouvelle.</p>
        {% endif %}
    </div>

    <div class="row my-5">
        <h3>Les adresses de livraison:</h3>
        <div class="col-11 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th>LastName</th>
                        <th>FirstName</th>
                        <th>Adresse</th>
                        <th>Modifier</th>
                    </tr>
                </thead>
                <tbody>
                {% for adresse in livraison_adresses %}
                    <tr>
                        <td>{{ adresse.lastName }}</td>
                        <td>{{ adresse.firstName }}</td>
                        <td>{{ adresse.adresse }} {{ adresse.ville.villeCodePostal }} {{ adresse.ville.villeNom }}</td>
                        <td>
                            <a class="btn btn-warning" href="{{ path('app_adresse_edit', {'id': adresse.id}) }}">Éditer</a>
                            {{ include('member/adresse/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucune pour le moment...</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% if livraison_adresses | length < 2 %}
            <a class="btn btn-primary" href="{{ path('app_adresse_new', {'slug': 'livraison'}) }}">Créer une nouvelle adresse (maximum 2)</a>
        {% else %}
            <p class="p-2 text-center h5">Supprimer une adresse pour pouvoir en créer une nouvelle.</p>
        {% endif %}
    </div>

{% endblock %}
