{% extends 'site/base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}

    {% set tva = tauxTva %}
    {% set totalDetachees = totalDetachees %}
    {% set disabled = "disabled" %}

    <h3 class="col-12 text-center my-5">
        Devis numéro {{ infosAndConfig['config'].prefixeDevis }}{{ devis.numeroDevis }} <br>
        du {{ devis.createdAt|date('d-m-Y') }} <br/>
        <span class="small">(valable jusqu'au {{ devis.endValidationDevis|date('d-m-Y') }})</span>
    </h3>

        {# SI Y A DES JEUX D'OCCASION DANS LE PANIER #}
        {% if occasions | length > 0 %}
            {% set visibilityOfTrTotalOccasions = '' %}
            {% include "components/table_occasions.html.twig" %}
        {% else %}
            {% set visibilityOfTrTotalOccasions = 'd-none' %}
        {% endif %}

        {# SI Y A DES DEMANDES DE PIECES DETACHEES DANS LE PANIER #}
        {% if boites | length > 0 %}
            {% set visibilityOfTrTotalBoites = '' %}
            {% include "components/table_pieces_detachees.html.twig" %}
        {% else %}
            {% set visibilityOfTrTotalBoites = 'd-none' %}
        {% endif %}

        {# SI Y A DES DEMANDES D'ARTICLES DANS LE PANIER #}
        {% if articles | length > 0 %}
            {% set visibilityOfTrTotalArticles = '' %}
            {% include "components/table_articles.html.twig" %}
        {% else %}
            {% set visibilityOfTrTotalArticles = 'd-none' %}
        {% endif %}

        {# PARITE LIVRAISON #}
        <div class="row justify-content-center my-5">
            <h3 class="col-12 text-start">Facturation / Livraison / Retrait:</h3>

            <div class="col-11 col-md-8 card">
                <table class="table text-center">
                    <tr>
                        <td>Facturation:</td>
                        <td>Livraison / retrait:</td>
                    </tr>
                    <tr>
                        <td>
                            {% set facturations = devis.adresseFacturation|split('<br/>') %}
                            {% for facturation in facturations %}
                                {{ facturation }}<br/>
                            {% endfor %}
                        </td>
                        <td>
                            {% set livraisons = devis.adresseLivraison|split('<br/>') %}
                            {% for livraison in livraisons %}
                                {{ livraison }}<br/>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        {# PARITE TOTAUX #}
        <div class="row justify-content-center my-5">
            <h3 class="col-12 text-start">Totaux:</h3>

            <div class="col-11 col-md-8 card">
                <table class="table">
                    <tr class="{{ visibilityOfTrTotalOccasions}}">
                        <td>Occasions:</td>
                        <td>{{ (totalOccasions / 100 * tva) | number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr class="{{ visibilityOfTrTotalBoites}}">
                        <td>Pièces détachées:</td>
                        {% if totalDetachees > 0 %}
                            <td>{{ (totalDetachees / 100 * tva) | number_format(2, '.', ',') }}</td>
                        {% else %}
                            <td>{{ (totalArticles / 100 * tva) | number_format(2, '.', ',') }}</td>
                        {% endif %}
                    </tr>
                    <tr class="{{ visibilityOfTrTotalArticles}}">
                        <td>Articles:</td>
                        <td>{{ (totalArticles / 100 * tva) | number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr>
                        <td>Livraison / Retrait:</td>
                        <td>{{ (devis.deliveryPriceHt / 100 * tva) | number_format(2, '.', ',') }}</td>
                    </tr>
                     <tr>
                        <td>Adhésion annuelle:</td>
                        <td>{{ (devis.cost / 100 * tva) | number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr>
                        <td>Total HT:</td>
                        <td>{{ (devis.totalHt / 100) | number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr>
                        <td>TVA:</td>
                        <td>{{ ((devis.totalTtc - devis.totalHt) / 100) | number_format(2, '.', ',') }}</td>
                    </tr>
                    <tr>
                        <td>Total TTC:</td>
                        <td>{{ (devis.totalTtc / 100) | number_format(2, '.', ',')}}</td>
                    </tr>
                </table>
            </div>
        </div>

    {# PARTIE BOUTONS #}
        <div class="row my-5">
            <div class="col-6 text-center">
                <a href="{{ path('app_paiement', {'token': devis.token}) }}" class="btn btn-lg btn-success" >Payer</a><br/>
                <img class="img-thumbnail col-9 col-md-6 col-lg-4 mt-4" src="{{ asset('build/images/design/paiement/logo-' ~ module_paiement ~ '.png') }}" alt="Paiement avec {{ module_paiement }}"/>
            </div>
            <div class="col-6 text-center">
                <a href="{{ path('suppression_devis_par_utilisateur', {'token': devis.token}) }}" class="btn btn-lg btn-outline-danger" >Annuler le devis</a>
            </div>
        </div>



{% endblock %}