{% extends 'site/base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}

    {% set tva = tauxTva %}
    {% set totalDetachees = totalDetachees %}
    {% set disabled = "disabled" %}

    <h3 class="col-12 text-center my-5">
        Devis numéro {{ infosAndConfig['config'].prefixeDevis }}{{ devis[0].numeroDevis }} <br>
        du {{ devis[0].createdAt|date('d-m-Y') }} <br/>
        <span class="small">(valable jusqu'au {{ devis[0].endValidationDevis|date('d-m-Y') }})</span>
    </h3>

        {# SI Y A DES JEUX D'OCCASION DANS LE PANIER #}
        {% if occasions | length > 0 %}
            {% include "site/devis/table_occasions.html.twig" %}
        {% endif %}

        {# SI Y A DES DEMANDES DE PIECES DETACHEES DANS LE PANIER #}
        {% if boites | length > 0 %}
            {% include "site/devis/table_pieces_detachees.html.twig" %}
        {% endif %}

        {# PARITE LIVRAISON #}
        <div class="row justify-content-center my-5">
            <h3 class="col-12 text-start">Facturation / Livraison / Retrait:</h3>

            <div class="col-11 col-md-8 card">
                <table class="table text-center">
                    <tr>
                        <td>Facturation:</td>
                        <td>Livraison / retrait:</td>
                    </tr>
                    <tr>
                        <td>
                            {% set facturations = devis[0].adresseFacturation|split('<br/>') %}
                            {% for facturation in facturations %}
                                {{ facturation }}<br/>
                            {% endfor %}
                        </td>
                        <td>
                            {% set livraisons = devis[0].adresseLivraison|split('<br/>') %}
                            {% for livraison in livraisons %}
                                {{ livraison }}<br/>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    <div class="row justify-content-center my-5">
        <h3 class="col-12 text-start">Totaux:</h3>
        <div class="col-11 col-md-6 card">
            <table class="table text-center align-middle">
                {% if totalOccasions > 0 %}
                    <tr>
                        <td>Jeux d'occasion:</td>
                        <td>{{ (totalOccasions / 100 ) |number_format(2, '.', ',') }} €</td>
                    </tr>
                {% endif %}
                {% if totalDetachees > 0 %}
                    <tr>
                        <td>Pièces détachées:</td>
                        <td>{{ (totalDetachees / 100 ) |number_format(2, '.', ',') }} €</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>Livraison/ Retrait:</td>
                    <td>{{ (devis[0].totalLivraison / 100 * tauxTva) |number_format(2, '.', ',') }} €</td>
                </tr>
                <tr>
                    <td>Adhésion au service:</td>
                    <td>{{ (devis[0].cost / 100) |number_format(2, '.', ',') }} €</td>
                </tr>
                <tr>
                    <td>Total HT:</td>
                    <td>{{ (devis[0].totalHt / 100) |number_format(2, '.', ',') }} €</td>
                </tr>
                <tr>
                    <td>Total TVA:</td>
                    <td>{{ ((devis[0].totalTtc -devis[0].totalHt) / 100) |number_format(2, '.', ',') }} €</td>
                </tr>
                <tr>
                    <td>Total TTC:</td>
                    <td class="display-6">{{ (devis[0].totalTtc / 100) |number_format(2, '.', ',')}} €</td>
                </tr>
            </table>
        </div>
    </div>


    {# PARTIE BOUTONS #}
        <div class="row my-5">
            <div class="col-6 text-center">
                <a href="{{ path('app_paiement', {'token': devis[0].token}) }}" class="btn btn-lg btn-success" >Payer</a>
            </div>
            <div class="col-6 text-center">
                <a href="{{ path('suppression_devis_par_utilisateur', {'token': devis[0].token}) }}" class="btn btn-lg btn-outline-danger" >Annuler le devis</a>
            </div>
        </div>



{% endblock %}