{% extends 'admin/base.html.twig' %}

{% block title %}Liste des boites{% endblock %}

{% block body %}
    <h1 class="col-12 text-center my-5">Liste des boites</h1>

    <div class="row mb-4 d-flex justify-content-between align-items-center">
        <div class="col-6 mt-5">
            <a class="btn btn-info" href="{{ path('admin_boite_new') }}">Créer une nouvelle boite +</a>
        </div>
        <div class="col-5 mt-5">
            {{ form_start(form) }}
                {{ form_row(form.searchBoite)}}
            {{ form_end(form)}}
        </div>
        <div class="col-1">
            <a class="btn btn-warning" href="{{ path('admin_boite_index') }}">Reset</a>
        </div>
    </div>

    <table class="table table-responsive text-center align-middle">
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Editeur</th>
                <th>Annee</th>
                <th>Livrable</th>
                <th>Jeu complet</th>
                <th>En ligne</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for key,boite in boites %}
            <tr>
                <td><img class="img-admin-liste" src="data:image/png;base64,{{ boite.imageblob }}"/></td>
                <td>{{ boite.nom }}</td>
                <td>{{ boite.editeur }}</td>
                <td>{{ boite.annee }}</td>
                <td>{{ boite.isLivrable ? '<i class="fa-solid fa-truck text-success"></i>' : '<i class="fa-solid fa-truck text-danger"></i>' }}</td>
                <td>{{ boite.isComplet ? '<i class="fa-solid fa-square-full text-success"></i>' : '<i class="fa-solid fa-square-full text-danger"></i>' }}</td>
                <td>{{ boite.isOnLine ? '<i class="fa-solid fa-earth-europe text-success"></i>' : '<i class="fa-solid fa-earth-europe text-danger"></i>' }}</td>
                <td>{{ boite.createdAt ? boite.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('admin_boite_edit', {'id': boite.id}) }}">Édition</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if boites | length > 0 %}
       <div class="row my-5">
            <div class="col-12 d-flex justify-content-center">
                {{ knp_pagination_render(boites, 'admin/pagination.html.twig') }}
            </div>
        </div>
    {% endif %}
{% endblock %}