{% extends 'admin/base.html.twig' %}

{% block title %}Liste des articles de cette boite{% endblock %}

{% block body %}
    <h1 class="col-12 text-center my-5">Liste des articles de cette boite</h1>

      <div class="col-6 my-5">
        <a class="btn btn-info" href="{{ path('app_article_new', {'boite': boite.id}) }}">Créer un nouvel article +</a>
    </div>

    <table class="table table-responsive text-center align-middle">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Quantité en stock</th>
                <th>Référence</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.name }}</td>
                <td>{{ article.quantity }}</td>
                <td>{{ article.reference }}</td>
                <td>
                    <a class="btn btn-sm btn-warning" href="{{ path('app_article_edit', {'id': article.id, 'boite': boite.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
