{% extends 'admin/base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1 class="col-12 text-center my-5">Liste des articles</h1>


    <table class="table table-responsive text-center align-middle">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Quantité en stock</th>
                <th>Référence</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.name }}</td>
                <td>{{ article.quantity }}</td>
                <td>{{ article.reference }}</td>
                <td>
                    {# <a class="btn btn-sm btn-warning" href="{{ path('app_article_edit', {'id': article.id, 'boite': article.boite.id}) }}">Éditer</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if articles | length > 0 %}

    <div class="row my-5">
        <div class="col-12 d-flex justify-content-center">
            {{ knp_pagination_render(articles, 'admin/pagination.html.twig') }}
        </div>
    </div>

    {% endif %}
{% endblock %}
