<ul id="menu_information" class="d-none d-md-block list-group mt-5">
    <li class="list-group-item"><a href="{{ path('informations-legales') }}#mentions-legales">Mentions légales</a></li>
    <li class="list-group-item"><a href="{{ path('informations-legales') }}#cgu">CGU</a></li>
    <li class="list-group-item"><a href="{{ path('informations-legales') }}#cgv">CGV</a></li>
</ul>
<ul id="menu_information" class="d-flex justify-content-around d-md-none mt-5 pt-3 list-unstyled">
    <li><a class="text-decoration-none" href="{{ path('informations-legales') }}#mentions-legales">Mentions légales</a></li>
    <li><a class="text-decoration-none" href="{{ path('informations-legales') }}#cgu">CGU</a></li>
    <li><a class="text-decoration-none" href="{{ path('informations-legales') }}#cgv">CGV</a></li>
</ul>